/* navbar */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  
  
  font-style: normal;
}


*{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    color:#FFFFFF;
    
   
}
.logo{
     margin: 22px;
    margin-left: 200px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 32px;
   
    
}
.subscribe{
    padding: 12px 16px;
    background-color: #FB09B4;
    border-radius: 22px;
    margin: 16px 200px;
    /* margin-right: 200px; */
}



/* techwave */
.banner{
    background-image:url("./assets/hero-circle.png"), url("./assets/hero-bg.png");
    height: 400px;
    background-repeat: no-repeat;
     flex-direction: column;
}
.content{
    color: #FFFFFF;
   
}
/* about the podcast */

.text-color{
    color:#00FF88;
    font-size: 48px;
}
.white{
     background-color: #1A0B2E;
     color: #FFFFFF;
     padding: 50px;
     
}
.About-the-podcast{
    text-align: center;
    color: #FFFFFF;
   
   
}
.bold{
    font-size: 48px;
    font-weight: 
}
.gap{
 margin-top:20px;
}

.contianer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 160px;
}

/* Why Choose TechWave */
.podcast>* {
    background-color: #230E3D;
    color: #FFFFFF;
    padding: 40px;
    border:solid red;
    border-radius: 20px
    
}
.audio{
   
    
}

header{
    grid-area: audio;
    
}
main{
    grid-area: mobile;
}
#global{
    grid-area: global;
}
#exclusive{
    grid-area: exclusive;
}
.rich{
    grid-area: rich;
}
.podcast{
    display: grid;
    
    grid-template-areas: 
    "audio      mobile     mobile"
     "audio     global     global"
     "exclusive exclusive  rich"
}