/* navbar */


*{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    color:#FFFFFF;
    
   
}
.logo{
     margin: 22px;
    margin-left: 200px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 32px;
   
    
}
.subscribe{
    padding: 12px 16px;
    background-color: #FB09B4;
    border-radius: 22px;
    margin: 16px 200px;
    /* margin-right: 200px; */
}