/* navbar */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: #250D44;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  
  
  font-style: normal;
}


*{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    color:#FFFFFF;
    
   
}
.logo{
     margin: 22px;
    margin-left: 200px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 32px;
   
    
}
.subscribe{
    padding: 12px 16px;
    background-color: #FB09B4;
    border-radius: 22px;
    margin: 16px 200px;
    /* margin-right: 200px; */
}



/* techwave */
.banner{
    background-image:url("./assets/hero-circle.png"), url("./assets/hero-bg.png");
    height: 400px;
    background-repeat: no-repeat;
     flex-direction: column;
}
.content{
    color: #FFFFFF;
   
}
/* about the podcast */

.text-color{
    color:#00FF88;
    font-size: 48px;
}
.white{
     background-color: #1A0B2E;
     color: #FFFFFF;
     padding: 50px;
     
}
.About-the-podcast{
    text-align: center;
    color: #FFFFFF;
   
   
}
.bold{
    font-size: 48px;
    margin-bottom: 20px;
    
}
.gap{
 margin-top:20px;
}

.contianer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 160px;
}

/* Why Choose TechWave */
.up{
    text-align: center;
    color: #FFFFFF;
    padding-top: 120px;
}
.podcast>* {
    background-color: #230E3D;
    color: #FFFFFF;
    padding: 40px;
    
    
    
}
.audio{
   
    
}

header{
    grid-area: audio;
    
}
main{
    grid-area: mobile;
}
#global{
    grid-area: global;
}
#exclusive{
    grid-area: exclusive;
}
.rich{
    grid-area: rich;
}
.podcast{
    display: grid;
    gap: 20px;
    
    grid-template-areas: 
    "audio      mobile     mobile"
     "audio     global     global"
     "exclusive exclusive  rich"
}


/* video */
.video{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 120px 200px;
    gap: 30px;
    color: #FFFFFF
}
.video-padding{
    padding: 24px;
}
.video-padding span {
    margin-top: 20px;
    color: #00FF88;
}
.video-color{
    background-color: #250D44;
}
iframe{
    width: 100%;
}

/* meet the host */
.png{
    width: 30%;
}

.meet{
    background-color: #3c245c;
    color: #FFFFFF;
    margin: 0 auto;
   
}
.meet h2{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
}
.kumar{
    font-size: 32px;
    font-weight: bold;
    margin-top: 88.5px;
    margin-bottom: 16px;

}
.contianer-box{
    display: flex;
    align-items: center;
}
.contianer-box img{
    margin: 40px 24px 40px 40px;
    align-items: center;
    
}
.card{
    padding: 40px;
    background-color:#50248a
}
 /* footer */
.footer{
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
 }